.featured {
  height: 50vh;
  margin: 0rem 0 2.5rem 0;


  }

.overlay {
  position: absolute;
  top: 0;
  height: 50vh;
  width: 100%;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}

.title {
  margin-left: 1rem;
  display: block;
}

.content {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 85ch;
}

.content p {
  margin-bottom: 1rem;
}

.meta {
  margin: 1.5rem 0;
  display: block;
  font-size: .9rem;
}

.content h2 {

}

.return {
  margin: 2.5rem 0 2.5rem 1rem;
  display: block;
  color: rgb(0, 0, 0, .5);
}

@media only screen and (min-width: 650px) {

  .heroTitle {
    top: 40vh;

  }

  .heroText {
    top: 40vh;
    max-width: 50%;
  }

  .button {
    margin-left: 7.5%;
  }

  .infoText {
    font-size: 125%;
  }

  .title {
    font-size: 135%;
  }

}

@media only screen and (min-width: 1050px) {

  .title {
    margin-left: 5%;
  }

  .return {
    margin: 2.5rem 0 2.5rem 5%;
  }

}
