.featured {
  max-width: 100%;
  height: 50vh;
  margin: 0rem 0 2.5rem 0;
  }

.overlay {
  position: absolute;
  top: 0;
  height: 50vh;
  width: 100%;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}

.title {
  margin-left: 5%;
  padding: 2.5rem 1rem 0 1rem;
  position: relative;
  color: black;
}

.content {

  padding: 0 1rem;

}

.content p {
  margin-bottom: 1rem;
  max-width: 90ch;
}

blockquote {
  padding-left: 1rem;
  font-size: 125%;
  border-left: 1rem solid lightgrey;
}

.featureList {
  margin: 2.5rem auto 2.5rem 5%;
  padding-bottom: 2.5rem;
  max-width: 100%;
  list-style: square;
}

.featureList li {
  margin: 0 1.5rem 1rem 1.5rem;
  padding: .5rem .25rem;
  max-width: 35rem;
  border-bottom: .25rem solid lightgrey;
}

.ctaWrapper {
  margin-top: 5rem;
  padding: 0;
  max-height: 100%;
  display: grid;
}

.photoCta {
  margin: 0 10%;
  padding: 0;
  max-width: 100%;
  max-height: 500px;
  display: block;
}




.ctaChunk {
  padding: 0 5%;
  max-width: 90%;
  position: relative;
  top: -275%;
  left: 10%;
  display: inline;
}

.ctaChunk h2 {
  font-size: ;
  color: #FFFFFF;
  font-weight: bolder;
}

.link {
    padding: 0 .5rem;
    display: inline-block;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

@media only screen and (min-width: 400px) {

  .ctaChunk {
    top: -350%;
  }

  .ctaChunk h2 {
    font-size: 125%;
  }

  .link {
      font-size: 105%;
  }
}

@media only screen and (min-width: 650px) {

  .featureList {
    margin: 2.5rem auto 2.5rem 10%;

  }



  .ctaChunk h2 {
    font-size: 175%;
  }

  .link {
      font-size: 125%;
  }
}

@media only screen and (min-width: 850px) {

  .featureList {
    margin: 2.5rem auto 2.5rem 15%;
  }

}

@media only screen and (min-width: 1100px) {

  .featureList {
    margin: 2.5rem auto 2.5rem 30%;
  }



  .photoCta {
    margin: 0 20%;
    max-width: 60%;
    max-height: 600px;
  }

  .ctaChunk {
    left: 20%;
  }


}
