



.postListWrapper {
  margin: 5rem auto 5rem auto;
  padding: 5rem auto 5rem auto;
}

.postList {
  margin: 0 auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  list-style: none;
}

.post {
  padding: 1rem;
  background-color: #FFFFFF;
}

.button {
  margin: 2rem 0 0 10%;
  padding: .5rem .5rem .5rem .5rem;
  min-width: 8rem;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  color: black;
  background: gainsboro;

}


.title {
  padding-top: 1rem;
}

.meta {
  margin-bottom: 1rem;
  font-size: .75rem;
}

a {
  color: black;
}


.name {
  margin: 0 0 0 1rem;
}



@media only screen and (min-width: 650px) {

  .heroTitle {
    top: 40vh;

  }

  .heroText {
    top: 40vh;
    max-width: 50%;
  }

  .button {
    margin-left: 7.5%;
  }

  .infoText {
    font-size: 125%;
  }
}

@media only screen and (min-width: 1200px) {



}
