* {
  box-sizing: border-box;
}

.head {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;

  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  /**
  position: fixed;
  transition: 3s cubic-bezier(.2, .8, .2, 1);
  **/
}

.scrolled {
  background-color: aliceblue;
}

.logo {
  padding: 1rem 0 .5rem 1rem;
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  display: block;
  border: none;
}
  .logo text {
    font-size: 125%;
    font-weight: bold;
    fill: #FFFFFF;
  }




@media only screen and (min-width: 650px) {

  .logo {
    padding: 1.25rem 0 .5rem 5%;
  }
}
